body{
    font-family:'Times New Roman', Times, serif;
}

header{
    text-align: center;
    overflow: hidden;
}

nav{
    background-color: #b55a92;
    color: #fff;
    padding: 10px 0;
}

nav ul{
    list-style-type: none ;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li a{
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    display: inline-block;
    font-size: 1.2rem;
}

nav li a:hover{
    background-color: #3d3d3d;
}

.logo{
    float: left;
}

.logo a{
    text-decoration: none;
    color:white;
    padding: 10px 20px;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: bold;
}

.logo a:hover{
    color: #d2d0d0;
}
